<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>3D Bone Model</title>
		<link rel="stylesheet" href="CSS/style.css">
	</head>

	<body>  

        <script src="JS/three.js"></script>
		<script src="JS/OrbitControls.js"></script>  
        <script src="JS/STLLoader.js"></script>             
        <script src="JS/model.js"></script>  
             
	</body>
</html>